<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
			http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<!-- 在tomcat加载web.xml时，吧spring配置文件的信息存放在applicationContext对象中 -->
	<!-- WebApplicationContext是applicationContext的子接口 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>